<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">

      <h1>Gerador de Senhas</h1>

      <div class="field">
        <label class="label" for="inputLenght">Qual tamanho da Senha?</label><br>
        <div class="control">
          <input class="input" name="inputLenght" type="number" (input)="onChangeLength($event.target)">
        </div>
      </div>

      <label class="label">Senha deve conter?</label><br>

      <div class="field">
        <label for="includeLetters"></label>
        <mat-slide-toggle name="includeLetters" class="example-margin" [checked]="includeLetters"
          (change)="onChangeUseLetters()">Usar Letras?</mat-slide-toggle>
      </div>

      <div class="field">
        <label for="includeNumbers"></label>
        <mat-slide-toggle name="includeNumbers" class="example-margin" [checked]="includeNumbers"
          (change)="onChangeUseNumbers()">Usar Numeros?</mat-slide-toggle>
      </div>

      <div class="field">
        <label for="includeSymbols"></label>
        <mat-slide-toggle name="includeSymbols" class="example-margin" [checked]="includeSymbols"
          (change)="onChangeUseSymbols()">Usar Simbolos?</mat-slide-toggle>
      </div>

      <div class="field" style="margin-top: 25px;">
        <button class="button is-warning is-fullwidth"
          [disabled]="!(length && ( includeLetters || includeNumbers || includeSymbols) )"
          (click)="createPassword()">Gerar Senha</button>
      </div>

      <div *ngIf="newPassword">
        <label class="label" for="newPassword">Nova Senha Gerada</label><br>
        <div class="control">
          <input class="input" name="newPassword" type="text" [value]="newPassword">
        </div>
      </div>

    </div>
  </div>

</div>